In [1]:
import pandas as pd
import os

In [2]:
peliculas = pd.read_csv('RatingsPeliculas.csv')

In [3]:
len (peliculas)

559

In [4]:
peliculas.columns = ['Pelicula', 'Genero', 'RaitingsCriticos', 'RaitingsAudiencia', \
                     'PresupuestoMillones', 'Año']

In [5]:
peliculas.head()

,Pelicula,Genero,RaitingsCriticos,RaitingsAudiencia,PresupuestoMillones,Año
0,(500) Days of Summer,Comedia,87,81,8,2009
1,"10,000 B.C.",Aventura,9,44,105,2008
2,12 Rounds,Accion,30,52,20,2009
3,127 Hours,Aventura,93,84,18,2010
4,17 Again,Comedia,55,70,20,2009

In [6]:
peliculas.Pelicula = peliculas.Pelicula.astype('category')

In [7]:
peliculas.Pelicula = peliculas.Pelicula.astype('category')
peliculas.Genero = peliculas.Genero.astype('category')
peliculas.Año = peliculas.Año.astype('category')

In [8]:
peliculas.describe()

       RaitingsCriticos  RaitingsAudiencia  PresupuestoMillones
count        559.000000         559.000000           559.000000
mean          47.309481          58.744186            50.236136
std           26.413091          16.826887            48.731817
min            0.000000           0.000000             0.000000
25%           25.000000          47.000000            20.000000
50%           46.000000          58.000000            35.000000
75%           70.000000          72.000000            65.000000
max           97.000000          96.000000           300.000000

In [9]:
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [10]:
sns.set_style('dark')
k1 = sns.kdeplot(peliculas.PresupuestoMillones, pelicuRaitingsAudiencia')

SyntaxError: unterminated string literal (detected at line 2) (3120477658.py, line 2)